{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>{% block title %} {% endblock %} | Robert Turff</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/26767bdcd2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-sm fixed-top top-nav">
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
        </span>
    </button>
    <div class="collapse navbar-collapse order-3 order-sm-2" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto" id="bootstrap-overrides">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}" id="topnav-home-button">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'post_list' %}" id="topnav-blog-button">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'project_list'%}" id="topnav-portfolio-button">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cv_home'%}" id="topnav-cv-button">CV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact'%}" id="topnav-cv-button">Contact</a>
            </li>
        </ul>
    </div>
    <div class="social-icon d-flex flex-row order-2 order-sm-3">
        <a href="#"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/robert-turff/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Rob-Turff"> <i class="fab fa-github-square"></i></a>
    </div>
</nav>

<div class="container content">
    {% block content %}
    {% endblock %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
{% block javascript %}{% endblock %}
</body>
</html>