{% extends 'base.html' %}

{% block title %}
    CV
{% endblock %}

{% block content %}
    <h1>Eduction</h1>
    {% for year in years %}
        <div class="cv-uni-year">
            <p><b>{{ year.year }}</b></p>
            <ul>{{ year.grades|safe }}</ul>
            <p><b>{{ year.overall_grade|safe }}</b></p>
        </div>
        {% if user.is_authenticated %}
            <a class="admin-buttons" href="{% url 'edu_edit' pk=year.pk %}">
                <button type="button" id="edit-uni-year-button-{{ year.pk }}">Edit Year</button>
            </a>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <a class="admin-buttons" href="{% url 'edu_new' %}" id="add-uni-year-button">
            <button type="button">Add Year</button>
        </a>
    {% endif %}
    <h1>Tech Skills</h1>
    {% if user.is_authenticated %}
        <a class="admin-buttons" href="{% url 'skills_edit' %}">
            <button type="button" id="edit-skills-button">Edit Skills</button>
        </a>
    {% endif %}
    <div class="cv-skills">
        <div class="col">
            <ul>{{ skills.first_col|safe }}</ul>
        </div>
        <div class="col">
            <ul>{{ skills.second_col|safe }}</ul>
        </div>
    </div>
    <h1>Work Experience</h1>
    <h1>Academic Projects</h1>
    <h1>Additional Information</h1>
{% endblock %}