{% extends 'base.html' %}

{% block title %}
    CV
{% endblock %}

{% block content %}
    <h1>Eduction</h1>
    {% for year in years %}
        <div class="cv-uni-year">
            <p><b>{{ year.year }}</b></p>
            <ul>{{ year.grades|safe }}</ul>
            <p><b>{{ year.overall_grade|safe }}</b></p>
        </div>
        {% if user.is_authenticated %}
            <a class="admin-buttons" href="{% url 'edu_edit' pk=year.pk %}">
                <button type="button" id="edit-uni-year-button-{{ year.pk }}">Edit Year</button>
            </a>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <a class="admin-buttons" href="{% url 'edu_new' %}" id="add-uni-year-button">
            <button type="button">Add Year</button>
        </a>
    {% endif %}
    <h1>Tech Skills</h1>
    {% if user.is_authenticated %}
        <a class="admin-buttons" href="{% url 'skills_edit' %}">
            <button type="button" id="edit-skills-button">Edit Skills</button>
        </a>
    {% endif %}
    <div class="cv-skills">
        <div class="col">
            <ul>{{ skills.first_col|safe }}</ul>
        </div>
        <div class="col">
            <ul>{{ skills.second_col|safe }}</ul>
        </div>
    </div>
    <h1>Work Experience</h1>
    {% for job in jobs %}
        <div class="cv-job">
            <p><b>{{ job.location }} - {{ job.title }}({{ job.date }})</b></p>
            <p>{{ job.description }}</p>
        </div>
        {% if user.is_authenticated %}
            <a class="admin-buttons" href="{% url 'job_edit' pk=job.pk %}">
                <button type="button" id="edit-job-button-{{ job.pk }}">Edit Job</button>
            </a>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <a class="admin-buttons" href="{% url 'job_new' %}" id="add-job-button">
            <button type="button">Add Job</button>
        </a>
    {% endif %}
    <h1>Academic Projects</h1>
    {% for project in projects %}
        <div class="cv-project">
            <p><b>{{ project.title }}({{ project.date }})</b></p>
            <p>{{ project.description }}</p>
        </div>
        {% if user.is_authenticated %}
            <a class="admin-buttons" href="{% url 'project_edit' pk=project.pk %}">
                <button type="button" id="edit-project-button-{{ project.pk }}">Edit Project</button>
            </a>
        {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
        <a class="admin-buttons" href="{% url 'project_new' %}" id="add-project-button">
            <button type="button">Add Project</button>
        </a>
    {% endif %}
    <h1>Additional Information</h1>
{% endblock %}