{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for project in projects %}
                <a class="project-list-button" href="{% url 'project_detail' pk=project.pk %}">
                    <button type="button"
                            class="btn btn-outline-primary {% if project.pk == displayed_project.pk %} active {% endif %}">{{ project.title }}</button>
                </a>
            {% endfor %}
            {% if user.is_authenticated %}
                <a class="admin-buttons" href="{% url 'post_new' %}">
                    <button type="button">Add Project</button>
                </a>
                <a class="admin-buttons" href="{% url 'post_new' %}">
                    <button type="button">Edit Project</button>
                </a>
            {% endif %}
        </div>
        <div class="row project-list-content">
            <div class="col-sm project-text">
                <h2>{{ displayed_project.title }}</h2>
                <p>{{ displayed_project.description }}</p>
                <a class="admin-buttons" href="{{ displayed_project.link }}">
                <button type="button">View on Github</button>
            </a>
            </div>
            <div class="col-sm project-image">
                <img src="{{ displayed_project.image.url }}" class="img-fluid" alt="Project preview image">
            </div>
        </div>
    </div>
{% endblock %}