{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for project in projects %}
                <a class="project-list-button" href="{% url 'project_detail' pk=project.pk %}">
                    <button type="button" class="btn btn-outline-primary">{{ project.title }}</button>
                </a>
            {% endfor %}
            {% if user.is_authenticated %}
                <a class="admin-buttons" href="{% url 'post_new' %}">
                    <button type="button">Add Project</button>
                </a>
            {% endif %}
        </div>
        <div class="row">
            {% for project in projects %}
                {% if project.active %}
                    <div class="col-sm project-text">
                        <h2>{{ project.title }}</h2>
                        <p>{{ project.description }}</p>
                        <a href="{{ project.link }}">Link</a>
                    </div>
                    <div class="col-sm project-image">
                        <img src="{{ project.image.url }}" class="img-fluid" alt="Project preview image">
                    </div>
                    {% if user.is_authenticated %}
                        <a class="admin-buttons" href="{% url 'post_new' %}">
                            <button type="button">Edit Project</button>
                        </a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}