/* --------------------------------------------------------------------------------------------------- */
/* Base page css */
/* --------------------------------------------------------------------------------------------------- */

.top-nav {
    background-color: black;
    padding: 10px 15px 10px 15px;
}

.navbar-brand img {
    border-radius: 50%;
}

#bootstrap-overrides a {
    font-size: 18px;
}

.social-icon i {
    margin-left: 8px;
}

.social-icon i, .navbar-toggler-icon i {
    font-size: 32px;
}

.social-icon i:hover, .navbar-toggler-icon i:hover {
    color: #ff943f;
}

.content {
    padding-top: 100px;
}

/* --------------------------------------------------------------------------------------------------- */
/* Shared css */
/* --------------------------------------------------------------------------------------------------- */

body {
    background-color: #121212;
}

h1, h2, h3, h4, h5, p, a, i, ul, li, label {
    /*font-family: 'Merriweather', serif;*/
    font-family: 'Roboto', sans-serif;
    color: #f8f8f8;
}

a:hover {
    color: #ff943f;
}

h1, h2, h3, h4 {
    font-weight: 500;
}

.admin-buttons button {
    color: #f8f8f8;
    border: 2px solid white;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,169,43,0);
}

.admin-buttons button:hover {
    background-color: #f8f8f8;
    color: black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #f8f8f8;
    margin: 1em 0;
    padding: 0;
}

/* --------------------------------------------------------------------------------------------------- */
/* Blog page css*/
/* --------------------------------------------------------------------------------------------------- */


.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: black;
}

.post {
    background-color: #262626;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    border: 5px solid #ff943f;
    border-radius: 20px;
}

.post-list-container {
    padding-left: 5vw;
    padding-right: 5vw;
}

.post-container:hover {
    background-color: #393939;
}

.post-container a:hover, a:link {
    text-decoration: none;
}

.date p {
    color: #828282;
}

.post-detail {
    padding-top: 50px;
}

/* --------------------------------------------------------------------------------------------------- */
/* Project page css*/
/* --------------------------------------------------------------------------------------------------- */

.project-list-button {
    display: inline-block;
    padding-right: 30px;
    padding-top: 10px;
}

.project-list-button button {
    color: #f8f8f8;
    border-color: #ff943f;
}

.project-list-button button:hover {
    background-color: #3d3d3d;
    border-color: #ff943f;
}

.btn-outline-primary:not(:disabled):not(.disabled).active {
    color: #f8f8f8;
    background-color: #3d3d3d;
    border-color: #ff943f;
}

.project-list-content {
    padding-top: 20vh;
}
/* --------------------------------------------------------------------------------------------------- */
/* Home page css*/
/* --------------------------------------------------------------------------------------------------- */

.about-section {
    padding-top: 140px;
    padding-left: 12vw;
    padding-right: 12vw;
    text-align: center;
}

.about-section img {
    padding-bottom: 15px;
    border-radius: 50%;
}

.about-section h1 {
    font-size: 60px;
    padding-bottom: 10px;
}

.about-section p {
    font-size: 32px;
}

.about-section button {
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 36px;
    border-color: #ff943f;
    color: #f8f8f8;
}

.about-section button:hover {
    background-color: #3d3d3d;
    border-color: #ff943f;
}

/* --------------------------------------------------------------------------------------------------- */
/* CV page css*/
/* --------------------------------------------------------------------------------------------------- */

.cv-page {
    border-radius: 1%;
    padding: 30px 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #1f1e1e;
}