body {
    background-color: #121212;
}

h1, h2, h3, h4, p, a, i {
    font-family: 'Merriweather', serif;
    color: white;
}

a:hover {
    color: #ff943f;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.top-nav {
    background-color: black;
    padding: 15px 15px 15px 15px;
}

.nav-link a {
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

.social-icon i {
    margin-left: 4px;
}

.social-icon i, .navbar-toggler-icon i {
    font-size: 32px;
}

.social-icon i:hover, .navbar-toggler-icon i:hover {
    color: #ff943f;
}

.content {
    padding-top: 140px;
    /*max-width: 1000px;*/
    /*max-width: 40%;*/
    /*margin: auto;*/
}

.date p {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: black;
}

.post {
    background-color: #212121;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    border: 5px solid #7e8ce0;
}

.post h2 a:hover{
    color: #7e8ce0;
}

.blog-buttons button {
    color: white;
    border: 2px solid white;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,169,43,0);
}

.blog-buttons button:hover {
    background-color: white;
    color: black;
}