body {
    background-color: #121212;
}

h1, h2, h3, h4, a{
    font-family: 'Merriweather', Calibri;
    color: #ffffff;
}

p, a {
    color: white;
}

a:hover {
    color: #ff943f;
}

.top-nav {
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 15px 15px 15px 15px;
}

.nav-links a {
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
}

.social-icon a {
    float: right;
    padding-left: 8px;
    margin-top: -30px;
    font-size: 36px;
}

.content {
    padding-top: 160px;
    /*max-width: 1000px;*/
    width: 35%;
    margin: auto;
}

.date p {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    color: black;
}

.post {
    background-color: #212121;
    margin-bottom: 30px;
    padding: 20px 20px 20px 20px;
    border: 5px solid #7e8ce0;
}

.post h2 a:hover{
    color: #7e8ce0;
}

.blog-buttons button {
    color: white;
    border: 2px solid white;
    margin: 10px 10px 10px 0px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255,169,43,0);
}

.blog-buttons button:hover {
    background-color: white;
    color: black;
}