{% extends 'base.html' %}

{% block content %}
    <div class="home-sections">
        <div class="about-section">
            <h1>About me</h1>
            <p>blah blah blah plus some more blahs which are related to the previous ones I just mentioned. Also here
                are
                some more blahs about the other blahs and then a bit more blah to finish off, but wait there is more.
                Blah
                blah blah blah</p>
        </div>

        <div class="blog-section">
            <h1>Blog</h1>
            <p>Stuff about blog + link + recent post titles</p>
        </div>

        <div class="portfolio-section">
            <h1>Portfolio</h1>
            <p>Link to portfolio plus picture of most recent project</p>
        </div>

        <div class="cv-section">
            <h1>CV</h1>
            <p>Link to interactive CV plus download link?</p>
        </div>

        <div class="contact-section">
            <h1>Contact me</h1>
            <p>Contact details, message button social media etc.</p>
        </div>
    </div>
{% endblock %}