{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home
{% endblock %}

{% block content %}
        <div class="about-section">
            <img border="0" alt="Home" src="{% static 'images/rob_profile_pic.jpg' %}" width="200" height="200">
            <h1>Hey, I'm Rob</h1>
            <p>4th year MSci computer science student at the University of Birmingham</p>
            <a href="{% url 'contact'%}">
            <button type="button" class="btn btn-outline-primary">Contact Me</button>
            </a>
        </div>
{% endblock %}